@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&family=Barlow:wght@100;200;300&family=Bellefair&display=swap');

a {
    text-decoration: none;
    color:inherit;
}
body {
    overflow: hidden;
    height:100vh;
    margin:0;
    color:white;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, .subheading1, .subheading2{
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size:150px;
}
h2{
    font-size:100px;
}
h3{
    font-size:56px;
}
h4{
    font-size:32px;
}
h5, .subheading2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
}

p{
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    line-height: 30px;
    text-align: left;
    font-size: 18px;
    text-transform: none;
}

.subheading1{
    font-size: 28px;
}

.subheading2{
    font-size: 14px;
    letter-spacing: 2.35px;
}

hr{
    border: none;
    height: 1px;
    opacity: 25.15%;
    background-color: #FFFFFF;
}

.nav-text{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:16px;
    letter-spacing: 2.7px;
}
/* NavBar */

#logo{
    width:48px;
    height:48px;
    position:absolute;
}

#nav-line{
    position: absolute;
    width:473px;
    left:119px;
    border: none;
    height: 1px;
    z-index: 2;
    opacity: 25.15%;
    background-color: #FFFFFF;
    display: inline-block;
}

#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
}
.bg-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: white;
}
#navbar{
    position:relative;
    left:55px;
    top:40px;
    height:96px;
    display: flex;
    align-items: center;
}
nav{
    position: absolute;
    left:562px;
    width: 100%;
    height: 100%;
}


.nav-items{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:16px;
    letter-spacing: 2.7px;
    position:relative;
    z-index: 1;
    left:123px;
    height: 100%;
}

.nav-item{
    z-index: 2;
    margin-right:80px;
    height: calc(100% - 2px);
    display: inline-flex;
    align-items: center;
}

.nav-item-active{
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-color: white;
}
.nav-item span{
    font-weight: 200;
    padding-left: 5px;
}



/* Homepage */
#homepage{
    height: 100%;
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-repeat: round;
}

#home-text{
    width: 446px;
    position: absolute;
    left: 174px;
    top: 250px;
}

#home-text h1{
    display:inline;
}

#explore{
    position: absolute;
    top: 380px;
    left: 1101px;
    border-radius: 100%;
    width: 274px;
    height: 274px;
    border: none;
    color: #0B0D17;
}

/* Destination-moon-page */

#destination-page{
    height: 100%;
    background-image: url("../assets/destination/background-destination-desktop.jpg");
}

.numbers {
    opacity: 25%;
    margin-right:10px;
}

.destinations h5 {
    position: absolute;
    left:174px;
    top:170px;
}

.destinations img{
    width: 385px;
    left:230px;
    top:300px;
    position:absolute;
}

.destinations .text{
    display: inline-block;
    width: 385px;
    position: absolute;
    left: 900px;
    top: 220px;
}
.text p{
    margin-bottom:40px;
}
.destinations h2{
    display: inline;
}
 .destinations .metadata{
    display: flex;
    gap: 80px;
 }
  .metadata .subheading2{
    margin-bottom: 10px;
  }

  .text .nav-items{
    position:static;
    height: 50px;
    margin-bottom: 30px;
  }
  .text .nav-item{
    margin-right: 25px;
  }

  /* Crew Page */

  .crew-page{
    height: 100%;
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-repeat: round;
  }

  .crews{
    position: absolute;
    left:174px;
    top:150px;
    width: 800px;
  }

  .crews h4{
        margin-top: 100px;
        margin-bottom:10px;
  }

  .crews h3{
    margin-top:0px;
    margin-bottom:30px;
  }

  .crews p{
    width:450px;
  }

  .crews img{
    position: absolute;
    top: 46.76px;
    left: 700px;
    height: calc(100vh - 40%);
  }

  .circle-buttons{
    position: absolute;
    display: flex;
    gap: 25px;
    left: 174px;
    top: 660px;
  }
  
  .circle{
    display:inline-block;
    aspect-ratio:1/1;
    background-color:white;
    height:12px;
    border-radius:100%;
    opacity:25%;
  }
  
  .circle-active{
    opacity:100%;
  }

  /* Technology Page */

  .technology-page{
    height: 100%;
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-repeat: round;
  }
  .technologies{
    position: absolute;
    left:174px;
    top:150px;
    width: 750px;
  }

  .technology{
    display:flex;
    gap:100px;
    margin-top:80px;
  }
  
  .circle-numbers{
    display:flex;
    flex-direction:column;
    gap:30px;
  }
  .circle-number{
   height:80px;
   aspect-ratio:1/1;
    display:flex;
    justify-content:center;
    font-size:32px;
    align-items:center;
    border: 1px solid rgb(255, 255, 255, .25);
    border-radius:100%;
}

.circle-number-active{
    border:1px solid rgb(255, 255, 255, 1);
    color: #0B0D17;
    background-color: rgb(255, 255, 255, 1); ;
}
  
.technology h3{
    margin:20px 0 45px 0;
}

.technologies + img{
    height: 440px;
    position: absolute;
    right: 0;
    top: 220px;
}